@charset "utf-8";
/* 도깨비 PJ 메인 페이지 CSS - main.css */
/* 메인 페이지에만 적용되는 CSS */

/* 기본적으로 외부 CSS 합치기(merging)를 해야 해 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 컨텐츠 파트 최상위 부모 */
body {
    /* 한번에 배경 적용
    background: 색이반고윙/크 */
    /* 로고 이미지 가로위치 10%, 세로위치 30%, 가로크기 10% 세로크기 auto(생략) */
    background: url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%, 
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
}

/* 메인영역 */
.cont {
        /* 상단 패딩: 첫번째 요소 위치밀기의 기본!!
    첫번째 요소의 margin-top으로 위치를 이동할 경우 부모요소 바깥으로 마진이 나감..
    원래 디자인된 속성임,, 마진을 포함하려면 overflow: hidden;을 주면 포함되지만,
    첫번째 요소의 위치는 부모의 패딩으로 밀어주는 것이 정석!!!! */
    padding-top: 500px;
    box-sizing: border-box;
    /* 일반적인 박스는 content-box이며 가로, 세로 크기를 설정할 경우 그 크기는 컨텐트 영영의 크기
    박스의 보더와 패딩을 제외한 내용 영역을 컨텐트 영역이라고 한다.
    패딩과 보더를 포함하여 크기를 정하려면 box-sizing: border-box라고 셋팅하면 됨~~~~
    여기에서는 min-height: 800px 크기에 패딩 500px이 포함됨 */

}

/* 캐릭터박스 설정 */
.cbx {
    width: 90%;
    margin: 0 auto;
}

/* float 자식의 부모에 가상요소로 clear 설젇ㅇ */
.cbx::after {
    content: '';
    display: block;
    clear: both;
} /* 이걸 만약 안하면 cbx의 높이가 0이야 0!!  */

/* 캐릭터 개별 박스 공통 */
.cat {
    /* 가로 크기 : 4등분(25%) */
    width: 25%;
    /* 블록 요소 옆으로 흐르게! */
    float: left;/* 나는 왼쪽! 너는 오른쪽에 와~~ */
}

/* 하위 캐릭터 이미지 */
/* .cat img {
    width: 100%;
} */
/* 캐릭터 이미지 - .ci의 직계 자식 img만 선택 직계자식 선택의미의 부등호는 띄어도 괜츈*/
.ci>img {
    width: 100%;
}

/* 캐릭터 이름 이미지 span 블록으로 바꾸기 - 원래 inline이지만 출신변경*/
.ci span {
    display: block;/* 이걸 안 하면 span 영역 확인해봐 쪼그라져 있어 */
    text-align: center; /* 블록 요소 내부의 인라인 컨텐츠를 중앙에 오게 함! */
    /* block은 주변에 아무도 못오게도 하고 width가 auto임!! */
    margin-top: -20%;/* 마진탑으로 위치 이동하기.. 마진값을 마이너스로 주면 위의 요소와 겹칠 수 있음..
    이 방식은 POSITION을 쓰지 않고 겹치게 하는 방법임.
    일반적인 위치 이동은 마진으로 함.
    단위로 %를 사용하면 마진에 있어서 margin-top은 기존 부모박스의 height값에 대한 %,
    margin-left는 기존 부모박스의 width값에 대한 %다 */
}

/* 캐릭터 이름 이미지 */
.ci span img {
    width: 50%; /* 이러면 이미지가 옆으로 와야할 것 같은데 아래로 가있거든?
    이게 왜냐면 이미지 엔터 간극이 있어,, 48%로 해보면 사이가 떨어져 있음,, 그럼
    떨어뜨리지 말구, 이미지 태그 붙여
    인라인 요소에 엔터를 치면 사이간극이 생기는데 이를 엔터간극이라고 해,, 해결법은 붙여쓴다,, */
}
/* 캐릭터 이름 이미지 첫번째 숨김 */
.ci span img:first-child {
    display: none;
}
/* 캐릭터 이름 이미지 첫번째 .cat에 오버시 보이기 */
.cat:hover .ci span img:first-child {
    display: inline;
}
/* 캐릭터 이름 이미지 두번째 .cat에 오버시 숨기기 */
.cat:hover .ci span img:last-child{
    display: none;
}
