@charset "utf-8";
/* 레이아웃 연습 1 */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(gs12.css);

/* [클래스 이름 정의]
   1. .ibx : 속박스 (겉박스 안의 속박스) - 특정 가로크기를 가지고 중앙에 위치하는 컨텐츠 최대 영역박스 
             max-width, margin: 0 auto로 세팅, 만약 max-width: 1920px로 설정
   2. .cbx : 내용 파티션 박스 (contents box) - 옆으로 흐르는 설정을 주는 박스임. 자기 자신이 float 설정을 가질 수 있고, grid system의 클래스로 줄 수도 있음.
   3.

*/

/* 중앙속박스 */
.ibx {
    max-width: 1200px;
    margin: 0 auto;
}
/* .ibx의 파티션 float을 위한 해제설정 - float된 자식 요소의 높이값 인식 위해 */
.ibx::after{
    content: '';
    display: block;
    clear: both; /* display: block이어야 clear:both설정 가능하지 */
}
.cbx { /* 부모자격 */
    position: relative;
}
.cbx>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* absolute 크기가 %이면 부모기준 -> .cbx*/
    object-fit: cover;
    /* image, vedio의 박스 채우기 옵션
       object-fit 속성
       fill : 가로, 세로 비율 무시 무조건 채움
       contain : 비율 유지 모두 보임 빈공간 있음
       cover : 비율 유지 빈틈 없음 (일부 잘릴 수 있음..) -> 배경 이미지 사이즈 cover와 유사
    */

    /* 검수용 이미지이니 반투명, 아래 위치시킴 */
    opacity: 0.5;
    z-index: -1;
}

/* 3중박스일 때 높이값은 최상위부모, 부모, 자식 중 어디에 줘야할까? 자식에게!!! 그래야 컨트롤이 편해! 왜냐면 부모박스는 자식만큼 커지니까!! height: auto;!!!! */

/* 영역별 개별 높이 */
/* 1. 상단영역 */
.top .cbx {
    height: 100px;
}

/* 2. 배녀영역 */
.ban .cbx {
    height: 344px;
}

/* 3. 추천영역 */
.chu .cbx {
    height: 362px;
}

/* 4. 대표서비스 */
.dae .cbx {
    height: 120px;
}

/* 5. 무역지원 사업일정 */
.moo .cbx+.cbx { /* 이러면 .cbx가 앞에있는 애들만 고른거기 때문에 맨 앞애는 선택이 안됨
    형제 요소 선택,,, 띄어쓰지 않는다!! */
    height: 219px;
}

/* 6. 무역지원 서비스 */
.moo2 .cbx:first-child~.cbx { /* 첫번째 뒤의 모든 형제 .cbx 선택*/
    height: 287px;
}

/* 7. 무역 통계 등 */
.sta .cbx {
    height: 244px;
}

/* 8. 하단링크 */
.blink .cbx {
    height: 74px;
}

/* 9. 하단영역 */
.info .cbx {
    height: 115px;
}