@charset "utf-8";
/* CGV PJ 메인페이지 CSS - main.css */

/* merging.. 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

body {
    background-color: black;
}

/* 공사 중 표시 */
body * {
    /* outline: 1px dotted lime;  */
    /* 바디 아래 모든 요소 */
}

/* 공통 클래스 */
.ibx {
    max-width: 1200px;/* 이거보다 작아지면 auto */
    margin: 0 auto;
}

/****************************** 1. 상단영역 ******************************/
/* 속박스 */
.top {
    position: relative; /* 가만히 있으면서 부모자격을 할 수 있는 gnb의 부모자격 */
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}

/* 1-1. LOGO */
.tit {
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    /* 그림자를 이용한 GLOW 효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 : 이시이지반방마 */
    animation: titAni .7s ease-in infinite alternate;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to { 
        text-shadow: 0 0 12px aquamarine;
    }
}/* 키프레임 */

/* 1-2. GNB */
.gnb { /* 얘는 위치이동만 해줄거임 */
    position: absolute; /* 부모는? .top */
    bottom: 5px; /* 상위메뉴 li에 패딩 바텀 5px 줄거라 5px만 있어도 될듯 */
    right: 15px;
    z-index: 99; /* main영역보다 위! */
}
/* gnb의 ul */
.glist {
    display: flex;
    position: relative;/* 빔줬을 때 이벤트 컬쳐가 안 눌려,, z-index 줘야해서.. relative 줘야함.. 영사기 위에 와야하기 때문에 누를 수 있으려면...*/
    z-index: 1;
}
/* gnb li 리스트 */
.glist>li { /* > 쓴 이유는 하위 li를 더 쓸거라서 상위 li 지칭해주기 위해 */
    position: relative;
    /* 부모자격 smenu의! */
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    padding: 0 10px;
    padding-bottom: 5px; /* sub메뉴와 이어지게 하기 위해~~ 하단 공간 확장~~ */
}

/* gnb 서브 메뉴 */
.smenu {
    position: absolute;
    left: 50%;
    /* 이러면 영화~~이벤트 컬쳐를 부모로 봄 그래서 li에 부모를 또 줘야겠지@@@!!
    부모는 glist li! */
    transform: translate(-50%, 5px); /* 가로방향 중앙이동, 세로 5px 이동 */
    width: 140px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
    /* 처음에 안보임 */
    display: none;

    /* 
    overflow: hidden; height:0; time,,? 이렇게 하는건 애니메이션 줄 때 부드럽게 나타나게 하기 위해서....
    */
}

/* 상위메뉴 오버시 서브메뉴 보임 */
.glist>li:hover .smenu {
    display: block;
}

/* 가상요소로 서브메뉴 삼각형 만들기 */
.smenu::before {
    content: '';
    display: block; /* div처럼 쓰겠다~~ 물론 앱솔루트를 주면 블록이 돼...? */
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    /* 삼각형 만들기 */
    width: 0;
    height: 0;
    /* width, height가 없으면 보더는 튀어나간대 */

    border-bottom: 10px solid #353535;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /* 양쪽을 투명하게 하면 삼각형이 나옴,, 역삼각형은 보더 탑!!! */

}

/* 서브메뉴 ol */
.smenu ol {
    border: 1px solid #ccc;
    padding: 10px;
}
/* 서브메뉴 li */
.smenu li {
    font-size: 16px;
    line-height: 2;
    /* 50프로 오른쪽으로 밀고, 자기크기만큼 - 50% X 트랜스폼.. ? 왼쪽으로 오면!! 중간에 올 수 있겠지!! */
}

/* 서브메뉴 a 요소 */
.smenu a {
    display: block; /* li 요소를 ol박스? smenu 박스 영역 끝까지 차지하게 해주려고!! 이거 안 줬을 때는 글자크기 까지만 영역이었음 */
}

/* 서브메뉴 li에 마우스 오버시 글자색 빨강 */
.smenu a:hover {
    color: black;
    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
}
/* 서브메뉴 a에 오버시 가상요소로 이모지 보이기 */
/* 이모지 단축키 = 윈도우키 + 세미콜론 혹은 온점 */
/* 영화 하위 메뉴 이모지 */
.glist > li:nth-child(1) .smenu li a:hover::after {
content: '🎬';
float: right; /* inline 요소.. */
}
/* 예매 하위 메뉴 이모지 */
.glist > li:nth-child(2) .smenu li a:hover::after {
    content: '💸';
    float: right; /* inline 요소.. */
    }
/* 극장 하위 메뉴 이모지 */
.glist > li:nth-child(3) .smenu li a:hover::after {
    content: '🍿';
    float: right; /* inline 요소.. */
    }
/* 이벤트 하위 메뉴 이모지 */
.glist > li:nth-child(4) .smenu li a:hover::after {
    content: '🎁';
    float: right; /* inline 요소.. */
    } 

/* 서브메뉴 중 li 보더탑 구분선 class */
.bdt {
    border-top: 1px solid #ccc;
}

/* 영사기 박스 */
#cam {
    position: absolute;
    bottom: -9px;
    right: -61px;
    /* z 겹칠 수 있는 포지션... static만 아니면 돼 */
}

/* 영사기 이미지 */
#cam img {
    position: relative;
    z-index: 1;/* 빔박스 보다 위.. 포지션이 static이 아니여야 적용됨~ */
    width: 50px;

    /* 영사기 회전 */
    transform: rotate(25deg);
    /* 트랜지션 속시이지 돌아올 때 .3초 지연 */
    transition: .5s ease-out .3s;
}
/* gnb에 마우스 오버시 영사기 회전하기 */
.gnb:hover #cam img {
    transform: rotate(0);
    /* 오버시엔 트랜지션 지연시간 없음.. */
    transition-delay: 0s;
}


/* 빔박스 */
.beam {
    position: absolute;
    top:-16px;
    right: 9px;
    width: 0; /* 오버시 200px */
    height: 70px;
    /* outline: 1px dotted yellow; */
    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;

    /* transition */
    transition: width .3s linear;
}
/* gnb에 마우스 오버시 */
.gnb:hover .beam {
    width: 200px;
    /* 트랜지션 지연시간 셋팅 */
    transition-delay: .5s; /* 마우스 아웃했을 때 느리게 회수 될 필요없잖아
    그래서 호버시에 지연시간 주고 돌아갈 때는 지연시간 없게!~!! */
    animation: beamAni .04s linear infinite alternate ;
}

/* 빔 지직지직 효과 애니메이션 키프레임 */
@keyframes beamAni {
    from {
        opacity: .9;
    }
    to {
        opacity: .5;
    }
}

/****************************** 2. 메인영역 ******************************/
/* 속박스 */
.cont {
    position: relative; /* 부모자격 일단 여러 애들의 부모자격이 될듯함 */
    /* height: 788px; */
    background: url(../images/bg.jpg) no-repeat top/100%; /* 100% 안주면 화면 작아질 때 안 작아질걸,, 확인해봥
    0이랑 top 또 다르지 */
}

/* 비율유지 가상요소 */
.cont::before {
    content: '';
    display: block;
    padding-top: 65.66%; 
    /* 블록 자식 요소의 패딩탑을 %로 주면 부모박스 가로크기에 대한 비가 성립한다!!
    100%는 1:1 비율
    [비율계산하기!]
    이미지 비율로 박스 비율을 적용함!!
    1200px : 788px = 100 : x
    x = 788px * 100% / 1200px
      = 65.66% */
}



/* 2-1. 스크린 박스 */
#screen {
    position: absolute; /* 부모는? cont! */
    top: 17.3%;
    left: 21.4%;
    width: 58.4%;
    height: 50.4%; 
    /* 비율유지 박스를 위해서는 높이 값! height가 없어야 해@!!!!! */
    background-color: #000;
}

/* 유튜브 아이프레임 */
#screen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* 2-2. 예고편 선택 메뉴 */
.mlist {
    position: absolute;
    /* 비율유지 박스 자식으로 % 설정~~ */
    width: 54%;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%); /* left 50과 같이 중앙에 맞추기 위해 주는 것ㅇㅇ*/
}
/* 예고편 ul  */
.mlist ul {
    display: flex;
    /* 원근 설정 */
    perspective: 480px;
}

/* 예고편 li */
.mlist>ul>li {
    position: relative;/* 부모자격 영화 정보 박스 */
    /* float: left; display: flex 풀고 확인해보면 괜찮은 것 같은데 화면 좁아지면 이상해져 왜냐면 스테이지가 작아졌다 이거지.. flex가 나은 이유 중 하나기도 한듯 */
    /* width: 99px;
    height: 140px; */
    flex: 1;/* 플렉스 자식요소 flex 속성으로 등분할 설정!!! 15일 오후 첫교시 강의 확인!!! */
    overflow: hidden;
    /* movtxt 히든임.. 오버플로우 히든은 부모요소에서 가능~!! 그 아래 뭐 중간 다 안 먹음~~~~~ 부모자격*/ 
    
    /* x축 회전 */
    transform: rotateX(30deg);
    /* 회전 축 변경 */
    transform-origin: bottom;
    /* 트랜지션 속시이지 */
    transition: transform .4s ease-out;
}

/* 오버시 아웃라인 보이기 */
.mlist>ul>li:hover {
    outline: 1px solid aqua; /* 오후2교시거 확인 설명 확인~!~~~~!~! */
    /* x축 회전 일어나 */
    transform: rotateX(0deg);
    z-index: 1;
}

/* 2번째 li부터 끝에만 줘서 가운데 정렬이 되게 하기 위해 +!!! 이럴 때 형제요소 쓰는거!!! */
.mlist>ul>li+li {
    margin-left: 10px;
}

/* 포스터 이미지 */
.mlist img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 비율 유지하여 박스에 채움!!!! */
    
}

/* 영화 정보 박스 */
.movtxt {
    /* flex box */
    display: flex;
    /* 진행방향 수직 */
    flex-direction: column;
    /* 진행방향에서 가운데 정렬!!!
    진행방향이 수직이면 수직 가운데, 수평이면 수평 가운데!!!!!! */
    justify-content: center;
    

    position: absolute; /* 부모는 싸고 있는 li */
    top: 100%; /* 박스값만큼 내려가 있기 */
    width: 100%;
    height: 100%;
    /* 반투명 배경색 */
    background-color: rgba(0,0,0,0.7);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: min(1.3vw,14px);
    /* 글자 최대 크기 14px, 보이는 가로크기의 1.3% */
    line-height: 2;
    text-align: center;
    color: #fff;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    /* 트랜지션:속시이지 숨은 애들을 위한 속시이지 */
    transition: top .3s ease-out;

}

/* 오버시 영화정보 보이기 */
.mlist ul>li:hover .movtxt {
    top: 0;
}

/* 첫번째 li 영화제목 */
.movtxt li:first-child {
    color: aqua;
    font-size: min(1.5vw,17px);/* 글자 최대 17px, 화면 가로의 1.5% */
    letter-spacing: -1px;
}

/* 영화보러 가는 길 */
.goMV {
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 80px;
    outline: 1px dashed yellow;
    
}
/* 글자 커버 */
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/curtain.jpg) no-repeat;
    /* 글자설정 */
    font-family: 'Cute Font', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}

/****************************** 3. 하단영역 ******************************/
/* 속박스 */
.info {
    position: relative;
    height: 100px;
}

/* 3-1. 회사정보 */
.info address {
    color: #c3c3c3;
    font-style: normal; /* address 기본 italic 해제 */
    font-family: 'Cute Font', cursive;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

/* 하단 로고 이미지  */
.info img {
    float: left;
    /*  이미지 자신은 왼쪽, 글자는 오른쪽 - 인라인 블록에도 많이 사용해.. float:left;*/
    margin-right: 20px;

}

/* 3-2. SNS 박스 */
.sns {
    position: absolute;
    /* 부모는 누구?? */
    top: 35px;
    right: 20px;
    /* 플렉스박스 */
    display: flex;
}
.sns li {
    width: 34px;
    height: 34px;
    background: url(../images/sprites_logo.png) no-repeat;
    margin: 0 2px;
    /* 필터 흑백 적용 */
    filter: grayscale(100%);
    /* 손가락 모양 */
    cursor: pointer;
}
/* 필터 흑백 오버시 컬러 */
.sns li:hover {
    filter: grayscale(0);
}

/* 페이스북 */
.sns li:first-child {
    background-position: -509px -429px;
}
/* 트위터 */
.sns li:nth-child(2) {
    background-position: -551px -429px;
}
/* 인스타 */
.sns li:nth-child(3) {
    background-position: -593px -429px;
}